<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false"/>
  </configSections>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="BlogContext" connectionString="Data Source=localhost;Initial Catalog=BlogDBTest;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="BlogContext0" connectionString="Data Source=localhost;Initial Catalog=BlogDBTest0;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="BlogContext1" connectionString="Data Source=localhost;Initial Catalog=BlogDBTest1;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="BlogContext2" connectionString="Data Source=localhost;Initial Catalog=BlogDBTest2;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="BlogContext3" connectionString="Data Source=localhost;Initial Catalog=BlogDBTest3;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>